// @use './vars';
$--primary-color: #EBDFF7;
$--black: #000000;
$--very-light-pink: #898888;
$--text-input-field: #dad8dd;
$--hospital-green: #378161;
$--sm: 14px;
$--md: 16px;
$--lg: 18px;
$--card-size: 240px;
$--card-size-mobile: 140px;
  


.create_account{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.form_account{
  display: grid;
  grid-template-rows: auto 1fr auto;
  width:300px;
}

.title_account{
  font-size: $--lg;
  margin-bottom: 30px;
  text-align: start;
}

.form_name,
.form_email,
.form_account {
  display: flex;
  flex-direction: column;
}

.label_name,
.label_email,
.label_password {
  font-size: $--sm;
  font-weight: bold;
  margin-bottom: 4px;
}

.input_name,
.input_email,
.input_password{
  background-color: $--text-input-field;
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: $--md;
  padding: 6px;
  margin-bottom: 22px;
}

.create_accountButton{
  background-color: $--hospital-green;
  border-radius: 8px;
  border: none;
  color: $--primary-color;
  width: 100%;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 50px;
}
.create_button{
  margin-top: 14px;
  margin-bottom: 30px;
}

/*responsive design page 4*/
@media (max-width: 640px) {
  .form_account {
      height:100%;
      
  }
  
  .responsive_page {
      height: 100%;
      justify-content: space-between;
  }
}