@use './vars';

.desktop_menu {
  background: $--primary-color;
  width: 100px;
  height: auto;
  border: 1px solid $--very-light-pink;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 56px;
  right: 50px;
}
.desktop_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop_menu ul li {
 text-align: end;
}
.desktop_menu ul li:not(:last-child) {
  font-weight: bold;
}
.desktop_menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid $--very-light-pink;
}
.desktop_menu ul li:last-child a {
  color: $--hospital-green;
  font-size: $--sm;
}
.desktop_menu ul li  a {
  color: $--black;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}